<div class="grid">
	<div class="col-12">
		<div class="card">
			<h3>{{titulo}}</h3>
            <form [formGroup]="formulario" (ngSubmit)="faceptar()">
                <div class="p-fluid p-formgrid grid">
                    <div class="field col-12 md:col-6">
                        <label htmlFor="nombre">Nombre</label>
                        <input formControlName="Nombre" pInputText id="nombre" type="text" />
                    </div>
                    <div class="field col-12 md:col-6">
                        <label htmlFor="apellido">Apellido</label>
                        <input formControlName="Apellido" pInputText id="apellido" type="text" />
                    </div>
                    <div class="field col-12">
                        <label htmlFor="direccion">Direccion</label>
                        <input formControlName="Direccion" pInputTextarea id="direccion" rows="4" />
                    </div>
                    <div class="field col-12 md:col-6">
                        <label htmlFor="telefono">Telefono</label>
                        <input formControlName="Telefono" pInputText id="telefono" type="text" />
                    </div>
                    <div class="field col-12 md:col-3">
                        <label htmlFor="pais">Pais</label>
                        <p-dropdown formControlName="PaisID" [options]="paises" optionLabel="nombre" optionValue="paisID"></p-dropdown>
                    </div>
                </div>
                <button pButton label="Guardar"></button>
            </form>
		</div>
        <div>
            <ul>
                <li>1</li>
                <li>1</li>
                <li>1</li>

            </ul>
        </div>
	</div>
</div>

