<div class="grid">
	<div class="col-12">
		<div class="card">
			<h3>{{titulo}}</h3>
            <form [formGroup]="formulario" (ngSubmit)="faceptar()">
                <div class="p-fluid p-formgrid grid">
                    <div class="field col-12 md:col-6">
                        <label htmlFor="nombre">Nombre</label>
                        <input formControlName="nombre" pInputText id="nombre" type="text" />
                    </div>
                    <div class="field col-12 md:col-6">
                        <label htmlFor="apellido">Apellido</label>
                        <input formControlName="apellido" pInputText id="apellido" type="text" />
                    </div>
                    <div class="field col-12">
                        <label htmlFor="direccion">Direccion</label>
                        <input formControlName="direccion" pInputTextarea id="direccion" rows="4" />
                    </div>
                    <div class="field col-12 md:col-6">
                        <label htmlFor="telefono">Telefono</label>
                        <input formControlName="telefono" pInputText id="telefono" type="text" />
                    </div>
                    <div class="field col-12 md:col-3">
                        <label htmlFor="pais">Pais</label>
                        <p-dropdown formControlName="paisID" [options]="paises" optionLabel="nombre" optionValue="paisID"></p-dropdown>
                    </div>
                </div>
                <button pButton [disabled]="!formulario.valid" label="Guardar"></button>
            </form>
		</div>
	</div>
</div>

<!-- CRUD -->

<div class="grid">
    <div class="col-12">
        <div class="card px-6 py-6">
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    <div class="my-2">
                        <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success mr-2" (click)="openNew()"></button>
                        <button pButton pRipple label="Delete" icon="pi pi-trash" class="p-button-danger"></button>
                    </div>
                </ng-template>

                <ng-template pTemplate="right">
                    <p-fileUpload mode="basic" accept="image/*" [maxFileSize]="1000000" label="Import" chooseLabel="Import" class="mr-2 inline-block"></p-fileUpload>
                    <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help" (click)="dt.exportCSV()"></button>
                </ng-template>
            </p-toolbar>

            <p-table #dt [value]="clientes" responsiveLayout="scroll" [rows]="10" [paginator]="true" [rowsPerPageOptions]="[5,10,20,30]" [showCurrentPageReport]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rowHover]="true" dataKey="id">
                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <h3 class="m-0">Administrar {{titulo}}</h3>
                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" placeholder="Search..."  class="w-full sm:w-auto"/>
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 2%">
                            Nro
                        </th>
                        <th pSortableColumn="code">Nombre <p-sortIcon field="code"></p-sortIcon></th>
                        <th pSortableColumn="app">Apellido <p-sortIcon field="app"></p-sortIcon></th>
                        <th pSortableColumn="name">Direccion <p-sortIcon field="name"></p-sortIcon></th>
                        <th>Telefono</th>
                        <th pSortableColumn="price">Pais <p-sortIcon field="price"></p-sortIcon></th>
                        <th>Operaciones</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-clientes>
                    <tr>
                        <td style="width:2%; min-width:10rem;">
                            {{clientes.clienteID}}
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            {{clientes.nombre}}
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            {{clientes.apellido}}
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            {{clientes.direccion}}
                        </td>
                        <td style="width:14%; min-width:8rem;">
                            {{clientes.telefono}}
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            {{clientes.paisID}}
                        </td>
                        <td>
                            <div class="flex">
                                <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" ></button>
                                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" ></button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>

