<p-toast></p-toast>
<div class="grid">
    <div class="col-12">
        <div class="card px-6 py-6">
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    <div class="my-2">
                        <button pButton pRipple label="Nuevo Servicio" icon="pi pi-plus" class="p-button-success mr-2" (click)="abrirDialog()"></button>
                    </div>
                </ng-template>

                <ng-template pTemplate="right">
                    <p-fileUpload mode="basic" accept="image/*" [maxFileSize]="1000000" label="Import" chooseLabel="Import" class="mr-2 inline-block"></p-fileUpload>
                    <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help" (click)="dt.exportCSV()"></button>
                </ng-template>
            </p-toolbar>

            <p-table #dt [value]="servicios" responsiveLayout="scroll" [rows]="10" [paginator]="true" [rowsPerPageOptions]="[5,10,20,30]" [showCurrentPageReport]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rowHover]="true" dataKey="id">
                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <h3 class="m-0">Administrar {{titulo}}</h3>
                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" placeholder="Search..."  class="w-full sm:w-auto"/>
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 2%">
                            Nro
                        </th>
                        <th pSortableColumn="code">Servicio <p-sortIcon field="code"></p-sortIcon></th>
                        <th pSortableColumn="app">Descripcion <p-sortIcon field="app"></p-sortIcon></th>
                        <th pSortableColumn="name">Costo <p-sortIcon field="name"></p-sortIcon></th>
                        <th>Operaciones</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-servicios>
                    <tr>
                        <td style="width:2%; min-width:10rem;">
                            {{servicios.servicioID}}
                        </td>
                        <td style="width:25%; min-width:10rem;">
                            {{servicios.nombreServicio}}
                        </td>
                        <td style="width:40%; min-width:10rem;">
                            {{servicios.descripcion}}
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            {{servicios.costo}}
                        </td>
                        <td>
                            <div class="flex">
                                <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="feditar(servicios)"></button>
                                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="feliminar(servicios)" ></button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>

<p-dialog [(visible)]="serviciosDialog" [style]="{width: '450px'}" [header]="operacion + ' ' + titulo" [modal]="true" class="p-fluid">
    <ng-template pTemplate="content">

        <form [formGroup]="formulario">
            <div class="p-fluid p-formgrid grid">
                <div class="field col-12 md:col-6">
                    <label htmlFor="nombre">Nombre Servicio</label>
                    <input formControlName="nombreServicio" pInputText id="nombre" type="text" />
                </div>
                <div class="field col-12 md:col-12">
                    <label htmlFor="apellido">Descripcion</label>
                    <input formControlName="descripcion" pInputTextarea rows="4" id="apellido" type="text" />
                </div>
                <div class="field col-6">
                    <label htmlFor="direccion">Costo</label>
                    <p-inputNumber mode="decimal" formControlName="costo" mode="decimal" [showButtons]="true" [minFractionDigits]="2" [maxFractionDigits]="2">
                    </p-inputNumber>
                </div>
            </div>
        </form>
    </ng-template>

    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-text" (click)="ocultarDialog()"></button>
        <button pButton [disabled]="!formulario.valid" pRipple label="Guardar" icon="pi pi-check" class="p-button-text" (click)="faceptar()"></button>
    </ng-template>
</p-dialog>

<p-dialog [(visible)]="eliminarServicioDialog" header="Confirmacion" [modal]="true" [style]="{width:'450px'}">
    <div class="flex align-items-center justify-content-center">
        <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
        <span *ngIf="dato">Esta seguro en eliminar al Servicio <b>{{dato.NombreServicio}}</b>?</span>
    </div>
    <ng-template pTemplate="footer">
        <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No" (click)="eliminarServicioDialog = false"></button>
        <button pButton pRipple icon="pi pi-check" class="p-button-text" label="SI" (click)="confirmDelete()"></button>
    </ng-template>
</p-dialog>
